﻿@model MvcCalculator.Models.CalculatorModel

<h2>Calculator</h2>

@using (Html.BeginForm("Resultado", "Calculator", FormMethod.Post))
{
    <div>
        @Html.EditorFor(model=>model.Operador1)
    </div>
    <div>
        @Html.DropDownList("Operacion", Model.Operaciones, "", Model.Operacion)
    </div>
    <div>
        @Html.EditorFor(model => model.Operador2)
    </div>
    <div>
        =
    </div>
    <div id="resultdo">
        @Model.Resultado
    </div>

  <input type="submit" value="obtener resultado" />
}
